@import url(header-footer.css);
@import url(./profissionais.css);

/* Nessa área fica o css do section */

.pag-decorador{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 1px solid var(--font-color);
    box-shadow: 10px 12px var(--green);
    border-radius: 14px;
    background-color: #FFF;
    overflow: hidden;
    height: 60vh;
    color: var(--font-color);
    margin: 5rem 20rem;
}

.direita{
    width: 820px;
    height: 800px;
}
