@import url(./header-footer.css);

#main_section_login {
    height: 500px;
    margin-top: 48px;
    margin-bottom: 90px;
    justify-content: space-evenly;
    padding: 0px 100px 0px 100px;
}
/* LOGIN */

#login-container {
    justify-content: center;
    display: flex;
    border: 1px solid #000;
    box-shadow: 10px 12px #C6F608;
    border-radius: 14px;
    background-color: #FFF;
    width: 18%;
    
}

#login-container2 {
    justify-content: center;
}

.titulo_login_cadastro {
    font-size: 27px;
    text-align: center;
    margin-top: 23%;
    font-weight: 500;
    margin-bottom: 17%;
}

#main_section_login {
    display: flex;
}

#login_form1 {
    margin-bottom: 25%;
    font-size: 20px;
    border-radius: 50px;
}

#login_form1 input {
    height: 30px;
    margin-top: 10px;
    font-size: 20px;
}

#botao_login {
    background-color: #C6F608;
    width: 65%;
    text-align: center;
    padding: 10px;
    padding-top: 8px;
    border-radius: 8px;
    color: #29374C;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s ease;
}

#botao_login:hover {
   background-color: #E8E8E8;
}

#div_botao_entrar {
    display: flex;
    justify-content: center;
}

.asterisco {
    color: red;
}

/* CADASTRO */

#cadastro-container {
    justify-content: center;
    
    border: 1px solid #000;
    box-shadow: 10px 12px #C6F608;
    border-radius: 14px;
    background-color: #FFF;
    width: 37%;
}

#cadastro-container2 {
    justify-content: center;
    display: flex;
}

.cadastro_form1 {
    margin-bottom: 1%;
    font-size: 20px;
    border-radius: 50px;
}

.cadastro_form1 input {
    height: 25px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

#data_nascimento_input {
    height: 27px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.titulo_cadastro_cadastro {
    font-size: 27px;
    text-align: center;
    margin-top: 8%;
    font-weight: 500;
    margin-bottom: 4%;
}

#div_botao_cadastrar {
    display: flex;
    justify-content: center;
}

#botao_cadastro {
    background-color: #C6F608;
    width: 29%;
    text-align: center;
    padding: 10px;
    padding-top: 8px;
    border-radius: 8px;
    color: #29374C;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s ease;
}

#botao_cadastro:hover {
   background-color: #E8E8E8;
}


