@import url(./header-footer.css);

#main_section_login {
    height: 500px;
    margin-top: 48px;
    margin-bottom: 90px;
    justify-content: space-evenly;
    padding: 0px 100px 0px 100px;
}
/* LOGIN */

#login-container {
    justify-content: center;
    display: flex;
    border: 1px solid #000;
    box-shadow: 10px 12px #C6F608;
    border-radius: 14px;
    background-color: #FFF;
    width: 18%;
    
}

#login-container2 {
    justify-content: center;
}

.titulo_login_cadastro {
    font-size: 27px;
    text-align: center;
    margin-top: 23%;
    font-weight: 500;
    margin-bottom: 17%;
}

#main_section_login {
    display: flex;
}

#login_form1 {
    margin-bottom: 25%;
    font-size: 20px;
    border-radius: 50px;
}

#login_form1 input {
    height: 30px;
    margin-top: 10px;
    font-size: 20px;
}

#botao_login {
    background-color: #C6F608;
    width: 65%;
    text-align: center;
    padding: 10px;
    padding-top: 8px;
    border-radius: 5px;
    color: #29374C;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s ease;
}

#botao_login:hover {
   background-color: #E8E8E8;
}

#div_botao_entrar {
    display: flex;
    justify-content: center;
}

.asterisco {
    color: red;
}

/* CADASTRO */

#cadastro-container {
    overflow: hidden;
    border: 1px solid #000;
    box-shadow: 10px 12px var(--purple);
    border-radius: 14px;
    background-color: #FFF;
    width: 37%;
}

.cadastro_form1 {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 1rem;
}

.cadastro_form1 input {
    font-size: 16px;
    margin-right: 20px;
    padding: .3rem .5rem;
    border: 1px solid var(--font-color);
    border-radius: 8px;
    outline-color: var(--purple);
}

.cadastro_form1 span{
    color: var(--purple);
    font-size: 14px;
}

.titulo_cadastro_cadastro {
    font-size: 27px;
    text-align: center;
    margin: 8% 0 4% 0;
    font-weight: 500;
    color: var(--font-color);
}

.botao{
    margin-top: 1rem;
    text-align: center;
}

.botao-cadastro {
    background-color: var(--purple);
    width: 30%;
    padding: 8px 10px;
    border-radius: 5px;
    color: #E8E8E8;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s ease;
    border: none;
}

.botao-cadastro:hover {
   background-color: #C6F608;
   color: var(--font-color);
}


