@import url(header-footer.css);
@import url(./escolher-estilo.css);

.subtitulos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 55%;
    align-items: center;
    margin: 30px auto;
}

.seu-estilo span{
    color: var(--purple);
    font-size: 20px;
}

.parag{
    display: inline-block;
    font-size: 20px;
    letter-spacing: .4mm;
}

.decoradores{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-decorador{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    border: 1px solid var(--font-color);
    box-shadow: 10px 12px var(--green);
    border-radius: 14px;
    background-color: #FFF;
    height: 55vh;
    text-align: center;
    margin: 2rem 0 4rem 0;
    color: var(--font-color);
    overflow: hidden;
    width: 22rem;
}

.nome-decorador{
    font-size: 24px;
}

.superior, .inferior{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    align-items: center;
    letter-spacing: .3mm;
    padding: 0 .5rem;
}

.container-decorador img{
    width: 150px;
}

.botao{
    padding: .7rem 3rem;
    background: var(--green);
    border-radius: 88px;
    font-size: 16px;
    font-weight: 400;
}

.botao:hover{
    color: #e8e8e8;
    background-color: var(--purple);
    transition: .2s;
}

/* select */

*{
    user-select: none;
}

select{
    width: 250px;
    max-width: 100%;
    overflow-y: auto;
    cursor: pointer;
    padding: 10px 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: unset;
    border: none;
    outline: none;
    border-radius: 12px;
    color: var(--font-color);
    font-size: 18px;
    box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.10);
    margin-left: 5px;
    position: absolute;
}

select option{
    padding: 10px 20px;
    margin-bottom: 8px;
    border-radius: 12px;
    background-color: #eeeeee;
    white-space: pre-wrap;
    cursor: pointer;
    position: relative;
}

select option:hover{
    background-color: #dfdfdf;
}

select option:checked{
    box-shadow: 0 0 10px 100px var(--green) inset;
}
 
select::-webkit-scrollbar-track{
	background-color: #F5F5F5;
	border-radius: 12px;
}

select::-webkit-scrollbar{
	width: 5px;
	background-color: #e8e8e8;
}

select::-webkit-scrollbar-thumb{
	background-color: #595959;
	border-radius: 12px;
}

select.fadeIn {
    animation: fadeInDown 0.3s;
}

select.fadeOut{
    animation: fadeInUp 0.3s;
}

/* fim do select */

